<a href="https://colab.research.google.com/github/YashVarshney24/COG_REGEX_ASS/blob/main/Regex_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**A python program to accept a file name through command line arguments**

In [92]:
fname = input('Enter the filename to Parse : ')
f = open(fname, "r")
text = f.read()

print(text)

Enter the filename to Parse : txt1.txt
Hello Everyone. I am Yash Varshney.
I am in eighth (8th) semester in Aligarh Muslim university. My CPI for the semesters are
first - 9.4
Second - 9.3
3rd - 9.0
4th -  10.0
5th - 9.5
Sixth - 9.3
Seventh - 9.0
Eighth - 9.4

$115 $129 ₹114 ₹524 £21	£595

24/09/2012
05/11/20	09/18/2015

05/25/1999	09/13/22   12/05/2016

Four letter words starting with vowel - 'Amen', 'Oman', 'East', 'Oven', 'Uper'

In [93]:
import re

***Print all currencies in text, Accepted- $, ₹, £ ***

In [94]:
def currency(s): # Looks for all string starting with any of these $, ₹, £ and followed by some digits(even fractions). 
  x = re.findall(r'[\$₹£]\d+\.?\d*', s) # '.' and digits followed by '.' are optional as number may or may not be fractional.
  return x

In [95]:
cword = currency(text)
print(cword)

['$115', '$129', '₹114', '₹524', '£21', '£595']

**Print all date times in the text- dd/mm/yyyy, dd/mm/yy, mm/dd/yyyy, mm/dd/yy**

In [96]:
#function for fetching all the dates in dd/mm/yyyy format 
def ddmmyyyy(data):

  # keeping the condition that the day should be from 1-31 and month from 1-12 and year should starts from  1 or 2 
  out = re.findall(r'\b((0[1-9]|[12][0-9]|3[01])(/)(0[1-9]|1[012])(/)([1-2][0-9]{3}))\b', data)
  return out

#function for fetching all the dates in dd/mm/yy format
def ddmmyy(data):

  # keeping the condition that the day should be from 1-31 and month from 1-12 and year should starts from  1 or 2 
  out = re.findall(r'\b((0[1-9]|[12][0-9]|3[01])(/)(0[1-9]|1[012])(/)([0-9]{2}))\b', data)
  return out

#function for fetching all the dates in mm/dd/yyyy format
def mmddyyyy(data): 

  # keeping the condition that the day should be from 1-31 and month from 1-12 and year should starts from  1 or 2 
  out = re.findall(r'\b((0[1-9]|1[012])(/)(0[1-9]|[12][0-9]|3[01])(/)([1-2][0-9]{3}))\b', data)
  return out

#function for fetching all the dates in mm/dd/yy format
def mmddyy(data):

  # keeping the condition that the day should be from 1-31 and month from 1-12 and year should starts from  1 or 2 
  out = re.findall(r'\b((0[1-9]|1[012])(/)(0[1-9]|[12][0-9]|3[01])(/)([0-9]{2}))\b', data)
  return out

**Fetching FORMAT dd/mm/yyyy**

In [97]:
x = ddmmyyyy(text)
for val in x:
  print(val[0])

24/09/2012
12/05/2016

**Fetching FORMAT dd/mm/yy**

In [98]:
x = ddmmyy(text)
for val in x:
  print(val[0])

05/11/20

**Fetching FORMAT mm/dd/yyyy**

In [99]:
x = mmddyyyy(text)
for val in x:
    print(val[0])

09/18/2015
05/25/1999
12/05/2016

**Fetching FORMAT mm/dd/yy**

In [100]:
x = mmddyy(text)
for val in x:
    print(val[0])

05/11/20
09/13/22

**Print all cardinalities and orders- 4th, fifth, sixth, 1st, 2nd, nineteenth, fifth**

In [101]:
 # Function to fetch the Orders starting with a digit followed by th,st,nd,rd
 # e.g 1st, 2nd, 3rd, 4th
def numorder(data):
  
  out = re.findall(r'\b(([1-9]+)(st|nd|rd|th))\b|\b((first|second|third)|(four[a-z]*|fif[a-z]*|six[a-z]*|seven[a-z]*|eigth[a-z]*|nine[a-z]*|ten[a-z]*|eleven[a-z]*|twelve[a-z]*|twenty[a-z]*|thirty[a-z]*|hundred[a-z]*|thousand[a-z]*)(st|nd|rd|th))\b',data)
  return out

In [102]:
x = numorder(text)
for val in x:
    print(val[0])

8th

3rd
4th
5th

In [103]:
#function to fetch the orderS(ordinals) in alphabetical order 
  #e.g. first, second, third etc
def txtorder(data):
  
  # most of the ordinals starts with alphabets and ends with th, st, rd, nd
  out = re.findall(r'\b((first|second|third)|(four[a-z]*|fif[a-z]*|six[a-z]*|seven[a-z]*|eigth[a-z]*|nine[a-z]*|ten[a-z]*|eleven[a-z]*|twelve[a-z]*|twenty[a-z]*|thirty[a-z]*|hundred[a-z]*|thousand[a-z]*)(st|nd|rd|th))\b', data, re.IGNORECASE)
  # re.IGNORECASE is used case insensitive pattern matching
  return out

In [104]:
x = txtorder(text)
for val in x:
  print(val[0])

first
Second
Sixth
Seventh

**Print all 4 letter words that begin with vowels**

In [105]:
def words_starting_with_vowel(data): 

  # Starting with small or capital case vowels (a, e, i, o, u, A, E, I, O, U) followed by any 3 letters.
  return re.findall(r'\b[aeiouAEIOU][a-zA-Z]{3}\b', data)

In [106]:
x = words_starting_with_vowel(text)
print(x)

['Amen', 'Oman', 'East', 'Oven', 'Uper']